@use 'libs/ui/src/lib/css/media-queries';

website-about-me {
  .box {
    p {
      width: 90%;
      text-align: left;
    }
  }
}

@include media-queries.minXlScreen {
  website-about-me {
    .box {
      margin-top: 50px;
    }
  }
}
