<div
  class="image-box"
  style="background-image: url('assets/images/home/background.svg')"
>
  <div class="box">
    <div class="text mg-unset-s-e-box">
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle" markdown [data]="subtitle"></h2>
      <a class="link">{{ btnTxt }}</a>
    </div>
    <img class="image mg-unset-s-e-box" src="assets/images/home/me.png" />
  </div>
</div>
