@use '../../css/variables';
@use '../../css/media-queries';
@use '../../css/extends';

website-image-box {
  .image-box {
    position: relative;
    height: 100dvh;
    @extend %rm-p-box-mb;
    margin: auto;
    background-size: cover;

    .box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      .image {
        width: 100%;
        height: 55%;
        object-fit: contain;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        top: 15%;

        .title,
        .subtitle {
          text-align: left;
        }

        .title {
          font-family: 'Ubuntu Bold' !important;
          font-size: 1.6rem;
          line-height: 2.2rem;
          width: 90%;
        }

        .subtitle {
          font-size: 1rem;
          line-height: 1.6rem;
          margin-top: 1em;
          width: 80%;
        }

        .link {
          display: none;
        }
      }
    }
  }
}

@include media-queries.minXlScreen {
  website-image-box {
    .image-box {
      background: #6b6b6b;
      height: 85vh;

      .box {
        height: 100%;
        display: flex;
        flex-direction: row;

        .image {
          background: none;
          height: 650px;
          width: 50%;
          order: -1;
          align-items: flex-end;
        }

        .text {
          position: relative;
          top: -130px;

          .title {
            font-family: 'Ubuntu Bold' !important;
            font-size: 2.5rem;
            line-height: 3rem;
            width: 90%;
          }

          .subtitle {
            * {
              font-size: 1.4rem;
              line-height: 2.2rem;
              width: 80%;
            }
          }

          .link {
            display: block;
            width: 30%;
            text-align: center;
            padding: 0.8em;
            background: #ffd400;
            color: white;
            margin-top: 10px;
            border: 1px solid white;
            font-family: 'Ubuntu Bold' !important;
            transition: background 0.2s ease-out;
          }

          .link:hover {
            background: #ffd400;
            transition: background 0.2s ease-in;
          }
        }
      }
    }
  }
}

@include media-queries.maxXlAndLandscapeScreen {
  website-image-box {
    .image-box {
      .box {
        .image {
          display: none;
        }

        .text {
          top: 25dvh;
        }
      }
    }
  }
}
