@use '../../css/variables';
@use '../../css/media-queries';

website-header {
  header {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: unset;
    opacity: 1;
    color: variables.$f-white-color;
    transition: opacity 0.2s ease-out, padding 0.2s ease-out,
      background 0.2s ease-out;

    .h-line {
      background: variables.$bg-gr-line;
      height: 0.2em;
      transition: height 0.2s ease-out;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .box {
      padding: 0.5em;
    }
  }

  header.scroll {
    opacity: 0.95;
    background: white;
    transition: opacity 0.2s ease-in, padding 0.2s ease-in,
      background 0.2s ease-in;

    .h-line {
      //height: 0.1em;
      //transition: height 0.2s ease-in;
    }

    .box {
      website-h-menu {
        nav.open {
          top: 51px;
        }
      }
    }
  }
}

body.open {
  website-header {
    header {
      background: white;
    }
  }
}

@include media-queries.minXlScreen {
  website-header {
    header {
      padding: 0.5em 0em;
      color: variables.$f-black-color;
    }

    header.scroll {
    }
  }
}
