@use '../../css/media-queries';

website-project-slider {
  width: 100%;
  text-align: center;

  .ng-image-slider {
    width: 100%;
    margin: 5px 0px;

    .img-div {
      box-shadow: none !important;
    }
  }

  .hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -20px;
  }
}

@include media-queries.minXlScreen {
  website-project-slider {
    .ng-image-slider {
      width: 90%;
      margin: 20px auto;
      display: block;

      .main {
        position: relative !important;
        margin: auto;
        width: 80% !important;
      }
    }

    .hr {
      display: none;
    }
  }
}

@include media-queries.minXXXlScreen {
  website-project-slider {
    .ng-image-slider {
      .main {
        width: 50% !important;
      }
    }
  }
}
