<div *ngIf="common$ | async as common">
  <website-header
    [nav]="common.header.nav"
    [labelShort]="common.header.label.short"
    [labelLong]="common.header.label.long"
  ></website-header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <website-footer [nav]="common.header.nav"></website-footer>
</div>
