@use 'libs/ui/src/lib/css/variables';
@use 'libs/ui/src/lib/css/media-queries';

website-contact-box {
  .address-box {
    background-size: 410%;
    background-position: bottom;
    height: 480px;
    margin-bottom: 0px;
    display: flex;

    .a-wrapper {
      padding-left: variables.$p-box-mb;
      padding-right: variables.$p-box-mb;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      top: -50px;

      img {
        background: gray;
        border-radius: 500px;
        width: 125px;
        height: 125px;
        position: relative;
        top: -20px;
      }

      .a-text {
        width: 100%;
        color: white;
        padding-left: 0.8em;

        a {
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}

@include media-queries.maxXlAndLandscapeScreen {
  website-contact-box {
    .address-box {
      background-size: cover;
      height: 400px;
      background-position: unset;

      .a-wrapper {
        img {
          top: -15dvh;
        }
      }
    }
  }
}

@include media-queries.minXlScreenAndMaxXXXL {
  website-contact-box {
    .address-box {
      background-size: cover;
      height: 900px;
      background-position: unset;

      .a-wrapper {
        img {
          width: 180px;
          height: 180px;
          top: -85px;
        }
      }
    }
  }
}

@include media-queries.minXXXlScreen {
  website-contact-box {
    .address-box {
      height: 1200px;
      background-size: cover;
      background-position: unset;
    }
  }
}
