<address
  *ngIf="contact"
  class="address-box mg-unset-l-r-box"
  style="background-image: url('assets/images/home/vector.svg')"
>
  <div class="a-wrapper box">
    <img />
    <div class="a-text text-center mg-t-txt">
      <h4 class="page-title" markdown [data]="contact.title"></h4>
      <div markdown [data]="contact.text"></div>
    </div>
  </div>
</address>
