<footer *ngIf="nav">
  <nav class="box">
    <ul>
      <li>
        <a
          (click)="navigateTo('home')"
          routerLinkActive="active"
          class="fw-bold"
          >{{ nav.home }}</a
        >
      </li>
      <li>
        <a
          (click)="navigateTo('cv')"
          routerLinkActive="active"
          class="fw-bold"
          >{{ nav.cv }}</a
        >
      </li>
      <!--<li>
        <a
          (click)="navigateTo('blog')"
          routerLinkActive="active"
          class="fw-bold"
          >{{ nav.blog }}</a
        >
      </li>
      <li>
        <a
          (click)="navigateTo('contact')"
          routerLinkActive="active"
          class="fw-bold"
          >{{ nav.contact }}</a
        >
      </li>-->
    </ul>
  </nav>
</footer>
