website-footer {
  footer {
    height: 400px;
    background: #6b6b6b;

    ul {
      padding: unset;

      li {
        padding-top: 1em;
        padding-bottom: 1em;
        a {
          color: white;
          font-size: 1em;
        }
      }
    }
  }
}
