/* Media Queries */
@use 'variables';

/* Mixins */
@mixin minXsScreen {
  @media only screen and (min-width: variables.$xs) {
    @content;
  }
}

@mixin minSmScreen {
  @media only screen and (min-width: variables.$sm) {
    @content;
  }
}

@mixin minMdScreen {
  @media only screen and (min-width: variables.$md) {
    @content;
  }
}

@mixin minLgScreen {
  @media only screen and (min-width: variables.$lg) {
    @content;
  }
}

@mixin maxXlAndLandscapeScreen {
  @media only screen and (max-width: variables.$xl) and (orientation: landscape) {
    @content;
  }
}

@mixin minXlScreen {
  @media only screen and (min-width: variables.$xl) {
    @content;
  }
}

@mixin minXlScreenAndMaxXXXL {
  @media only screen and (min-width: variables.$xl) and (max-width: variables.$xxxl) {
    @content;
  }
}

@mixin minXXlScreen {
  @media only screen and (min-width: variables.$xxl) {
    @content;
  }
}

@mixin minXXXlScreen {
  @media only screen and (min-width: variables.$xxxl) {
    @content;
  }
}
