/* Breakpoints */
$xs: 475px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 2000px;

/* Width */
$width-max: 1600px;

/* Padding */
$p-box-mb: 1em;

/* Background */
$bg-gr-line: linear-gradient(
  90deg,
  #6b6b6b 0%,
  #52a49a 32.58%,
  #312a3f 77.25%,
  #2f53a0 100%
);

/* Fonts */
$f-black-color: black;
$f-white-color: white;

/* Border Radius */
$br: 20px;
