@use 'variables';
@use 'media-queries';
@import 'reset';
@import 'font/fonts';
@import 'utils';

/* Components */
/* Box */
.box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: variables.$p-box-mb;
}

@include media-queries.minXsScreen {
  .box {
    max-width: variables.$xs;
  }
}

@include media-queries.minSmScreen {
  .box {
    max-width: variables.$sm;
  }
}

@include media-queries.minMdScreen {
  .box {
    max-width: variables.$md;
  }
}

@include media-queries.minLgScreen {
  .box {
    max-width: variables.$lg;
  }
}

@include media-queries.minXlScreen {
  .box {
    max-width: variables.$xl;
  }
}

@include media-queries.minXXlScreen {
  .box {
    max-width: variables.$xxl;
  }
}

body,
main,
header,
footer {
  overflow-x: hidden;
}

/* Main */
main.box {
  padding-bottom: 0;
}

/* Open Components */
main.blur,
body.open footer {
  opacity: 0.9;
  filter: blur(2px);
}

main.blur:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body.open {
  overflow: hidden;
}
