@use 'variables';
@use 'media-queries';

/* Font */
.fc-gray-title {
  color: gray;
}

.fc-gray {
  color: rgb(25 62 63);
}

.fw-bold {
  font-weight: bold !important;
  font-family: 'Ubuntu Bold' !important;
}

/* Margins */
.mg-t-cp {
  margin-top: 40px;
}

.mg-t-txt {
  margin-top: 15px;
}

.mg-unset-l-r-box {
  margin-left: -(variables.$p-box-mb);
  margin-right: -(variables.$p-box-mb);
}

.mg-unset-s-e-box {
  margin-top: -(variables.$p-box-mb);
  margin-bottom: -(variables.$p-box-mb);
}
