@use '../../../css/variables';
@use '../../../css/media-queries';

// Define reusable variables
$transitionDuration: 0.1s;
$transitionEaseOut: ease-out;
$transitionEaseIn: ease-in;
$elementTopMargin: 51px;
$elementLeftMargin: -1px;
$elementWidth: 0;
$elementOpacity: 0;
$elementZIndex: 1;
$elementBackground: white;
$liLineColor: rgba(128, 128, 128, 0.66);

website-h-menu {
  nav {
    opacity: $elementOpacity;
    position: fixed;
    top: $elementTopMargin;
    left: $elementLeftMargin;
    height: 100dvh;
    width: $elementWidth;
    z-index: $elementZIndex;
    margin: 0;
    padding: 0px;
    background: $elementBackground;
    transition: opacity $transitionDuration $transitionEaseOut,
      width 0.15s $transitionEaseOut;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 25px 0 0 0;
      padding: 0px;

      li {
        display: none;
        padding: 1em;
        width: 100%;

        a {
          width: 100%;
          text-transform: uppercase;
          font-size: 0.9em;

          img {
            display: block;
            margin: auto;
          }
        }
      }

      li.line:after {
        content: '';
        display: block;
        height: 1px;
        margin-top: 0.85em;
        width: 85%;
        background: variables.$bg-gr-line;
        height: 1px;
      }
    }
  }

  nav.open {
    opacity: 1;
    left: 0px;
    width: 65vw;
    transition: opacity $transitionDuration $transitionEaseIn,
      width $transitionDuration $transitionEaseIn;

    li {
      display: inline-block;
    }
  }

  button.ham-menu-btn {
    position: relative;
    top: 5px;
    left: 10px;
    z-index: 2;
  }
}

@include media-queries.minXlScreen {
  website-h-menu {
    nav {
      opacity: unset;
      position: unset;
      height: unset;
      display: flex;
      justify-content: flex-end;
      width: unset;
      background: none;

      ul {
        display: flex;
        flex-direction: row;
        margin: unset;

        li {
          display: block;
          padding: 0 0.5em;

          a.fc-gray {
            color: variables.$f-black-color;
          }

          a:after {
            content: '';
            height: 0.2em;
            display: block;
            background: variables.$f-black-color;
            width: 0;
            transition: width 0.2s ease-out;
          }

          a.active:after {
            width: 100%;
          }

          a:hover:after {
            width: 100%;
            transition: width 0.2s ease-in;
          }
        }

        li.line:after {
          display: none;
        }

        .lang li {
          cursor: pointer;

          a:after {
            display: none;
          }

          a {
            img {
              height: 30px;
              width: 30px;
            }
          }

          a img.en,
          a img.de,
          a img.ru {
            opacity: 0.5;
          }
        }
      }
    }

    nav.open {
      width: unset;
    }
  }

  website-h-btn {
    display: none;
  }

  .scroll {
    website-h-menu {
      nav {
        ul {
          li {
            a.fc-gray {
              color: variables.$f-black-color;
            }

            a:after {
              background: variables.$f-black-color;
            }
          }
        }
      }
    }
  }
}

@include media-queries.maxXlAndLandscapeScreen {
  website-h-menu {
    nav {
      ul {
        margin: unset;

        li {
          padding: 0.5em;
        }
      }
    }

    nav.open {
      width: 30%;
    }
  }
}
