<website-h-btn
  (clicked)="onMenuClick()"
  [isMenuClosed]="isMenuClosed"
></website-h-btn>

<nav #navigation>
  <ul *ngIf="nav">
    <li class="line">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="fc-gray fw-bold"
        (click)="navigateTo('home'); onMenuClick()"
        >{{ nav.home }}</a
      >
    </li>
    <li class="line">
      <a
        routerLink="/cv"
        routerLinkActive="active"
        class="fc-gray fw-bold"
        (click)="navigateTo('cv'); onMenuClick()"
        >{{ nav.cv }}</a
      >
    </li>
    <!--<li class="line">
      <a
        routerLink="/blog"
        routerLinkActive="active"
        class="fc-gray fw-bold"
        (click)="navigateTo('blog'); onMenuClick()"
        >{{ nav.blog }}</a
      >
    </li>
    <li class="line">
      <a
        routerLink="/contact"
        routerLinkActive="active"
        class="fc-gray fw-bold"
        (click)="navigateTo('contact'); onMenuClick()"
        >{{ nav.contact }}</a
      >
    </li>-->

    <div class="lang d-inline-flex align-items-end">
      <li class="col-auto">
        <a (click)="switchLanguage('en'); onMenuClick()">
          <img
            #enLang
            ngSrc="assets/icons/gb.svg"
            alt="Set website language to english"
            width="35"
            height="25"
            priority
          />
        </a>
      </li>
      <li class="col-auto ps-0">
        <a (click)="switchLanguage('de'); onMenuClick()">
          <img
            #deLang
            ngSrc="assets/icons/de.svg"
            alt="Set website language to german"
            width="35"
            height="25"
            priority
          />
        </a>
      </li>
      <li class="col-auto ps-0">
        <a (click)="switchLanguage('ru'); onMenuClick()">
          <img
            #ruLang
            ngSrc="assets/icons/ru.svg"
            alt="Set website language to russian"
            width="35"
            height="25"
            priority
          />
        </a>
      </li>
    </div>
  </ul>
</nav>
