<ng-container *ngIf="projects && title">
  <h4 class="page-title box" markdown [data]="title"></h4>

  <div class="project-flex box">
    <section class="project-wrapper" *ngFor="let project of projects">
      <img />
      <div class="text-box box">
        <h4 class="page-title">
          <a markdown [data]="project.title" [href]="project.link"></a>
        </h4>
        <div class="p-0 subtitle" markdown [data]="project.subtitle"></div>
        <div markdown [data]="project.text"></div>
        <div markdown [data]="project.stack"></div>
      </div>
    </section>
  </div>
</ng-container>
