@use '../../css/variables';
@use '../../css/media-queries';

website-project-box {
  display: block;
  margin-top: 80px;

  .project-wrapper {
    border-radius: variables.$br;
    height: 600px;

    img {
      width: 100%;
      height: 35%;
      background: gray;
      border-top-left-radius: variables.$br;
      border-top-right-radius: variables.$br;
    }

    .text-box {
      background: #74809985;
      border-bottom-left-radius: variables.$br;
      border-bottom-right-radius: variables.$br;

      * {
        color: white;
      }
    }
  }

  .project-wrapper:nth-child(1n + 3) {
    margin-top: 50px;
  }
}

@include media-queries.maxXlAndLandscapeScreen {
  website-project-box {
    .project-wrapper {
      height: 550px;

      img {
        height: 40%;
      }

      .text-box.box {
      }
    }

    .project-wrapper:nth-child(1n + 3) {
      margin-top: unset;
    }
  }
}

@include media-queries.minXlScreen {
  website-project-box {
    display: block;
    margin-top: 120px;

    .project-flex {
      display: flex;
      justify-content: space-between;

      .project-wrapper {
        height: 550px;
        width: 32%;

        img {
          height: 40%;
        }

        .text-box {
          height: 550px;
        }
      }

      .project-wrapper:nth-child(1n + 3) {
        margin-top: unset;
      }

      .project-wrapper:nth-child(2n) {
        position: relative;
        top: -20px;
      }
    }
  }
}
