/* Font */
@use '../media-queries';

@font-face {
  font-family: Ubuntu Regular;
  src: url('ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu Bold;
  src: url('ubuntu/Ubuntu-Bold.ttf');
}

* {
  font-family: 'Ubuntu Regular' !important;
  font-size: 1rem;
}

h4.page-title,
h4.page-title * {
  font-size: 1.1em;
  font-weight: bold;
}

@include media-queries.minXlScreen {
  * {
    font-family: 'Ubuntu Regular';
    font-size: 1.2rem;
  }
}
