.ham-menu-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-align: inherit;
  outline: none;

  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;

  .ham-menu {
    width: 25px;
    height: 3px;
    z-index: 25;
    left: 0;
    position: relative;
    transform: translateY(25px);
    top: -30px;
    background: black;
  }

  .ham-menu:before {
    width: 25px;
    height: 3px;
    z-index: 25;
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    background: black;
    transition: bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .ham-menu:after {
    width: 25px;
    height: 3px;
    z-index: 25;
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    background: black;
    transition: top 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .ham-menu-cl {
    top: -30px !important;
    background: rgba(255, 255, 255, 0) !important;
  }

  .ham-menu-bf:before {
    //background: black!important;
    bottom: 0 !important;
    transform: rotate(-45deg);
    transition: bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s !important;
  }

  .ham-menu-af:after {
    //background: black!important;
    top: 0 !important;
    transform: rotate(45deg);
    transition: top 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s !important;
  }
}
