@use '../../css/variables';
@use '../../css/media-queries';

website-image-text-box {
  .i-text-box {
    margin-top: -5px;

    img {
      background: gray;
      width: 100%;
      height: 200px;
      margin-top: 15px;
      border-radius: variables.$br;
    }

    .page-title {
      margin-top: 30px;

      * {
        font-weight: bolder;
      }
    }
  }
}

@include media-queries.minXlScreen {
  website-image-text-box {
    .i-text-box {
      margin-top: 50px;
      img {
        height: 385px;
      }

      .page-title {
        margin-top: 50px;
      }
    }
  }
}
