<ng-container *ngIf="boxes">
  <article class="i-text-box mg-t-cp box" *ngFor="let box of boxes">
    <section>
      <img />
      <h4 class="page-title fw-bold" markdown [data]="box.title"></h4>
      <div class="fc-gray mg-t-txt" markdown [data]="box.text"></div>
    </section>
  </article>
</ng-container>
