<section class="info-box" *ngIf="box">
  <div class="box info-box-text">
    <h4 class="page-title" markdown [data]="box.title"></h4>
    <div class="mg-t-txt" markdown [data]="box.text"></div>
  </div>
</section>
