@use 'libs/ui/src/lib/css/variables';
@use 'libs/ui/src/lib/css/media-queries';

website-info-box {
  display: block;
  margin-left: -(variables.$p-box-mb);
  margin-right: -(variables.$p-box-mb);
  margin-top: 70px;
  background: lightblue;

  .info-box {
    padding: variables.$p-box-mb;

    .info-box-text {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
}

@include media-queries.minXlScreen {
  website-info-box {
    .info-box {
      .info-box-text {
        padding-top: 90px;
        padding-bottom: 50px;
      }
    }
  }
}
